@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
}

*::-webkit-backdrop {
  box-sizing: inherit;
}

*,
*::backdrop,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
}

ul,
ol, p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-top: 20px;
}

.body-dark,
* {
  color: #fff;
}

.header__darc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19.2px;
  padding-left: 50px;
}

.header__mode {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#sarche {
  max-width: 670px;
  width: 100%;
  height: 48px;
  background: #f8fafd;
  border: none;
  outline: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #212121;
  border-radius: 30px;
}

.header__input {
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.hero_likn {
  margin-top: 30px;
  background-color: blue;
  box-shadow: 0 0 10px 5px #fff;
  border-radius: 9px;
  color: #fff;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 99px;
  height: 40px;
  background: #0d75ff;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
}

.header__search {
  width: 42px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 20px;
}

.header__logo {
  background-color: blue;
  color: #ffffff;
  border-radius: 10px;
}

.header__showing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 56px;
  margin-top: 50px;
  padding-bottom: 10px;
  background: #ffffff;
}

.header__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #222531;
  padding-left: 306px;
}

.header__conta {
  background: #ffffff;
  padding: 0;
}

.header__Order {
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  height: 34px;
  background: #a6b0c3;
  border: none;
  padding-left: 35px;
}

.header__Order::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 2px;
  width: 22px;
  height: 30px;
  background-image: url(../../img/calendar.png);
  background-repeat: no-repeat;
}

#sun {
  display: none;
}

.swiper-wrapper {
  text-align: center;
}

.swiper-slide-img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.option {
  outline: none;
  color: #000;
  border: none;
  color: #ffffff;
  height: 34px;
  background: #a6b0c3;
}

.input__select {
  outline: none;
  color: #000;
  border: none;
  color: #ffffff;
  height: 34px;
  background: inherit;
}

.select__div {
  display: flex;
  padding: 5px 10px;
  background: #a6b0c3;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#icon {
  width: 226px;
  height: 44px;
  padding-right: 56px;
}

@media screen and (max-width: 850px) {
  #icon {
    padding-right: 40px;
    width: 200px;
  }
  .header__darc {
    padding-left: 35px;
  }
  .header__mode {
    width: 25px;
    height: 25px;
  }
  .header__logo {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
  .header__text {
    padding-left: 80px;
  }
}
@media screen and (max-width: 650px) {
  #icon {
    padding-right: 30px;
    width: 150px;
    height: 30px;
  }
  .header__darc {
    padding-left: 25px;
  }
  .header__mode {
    width: 20px;
    height: 20px;
  }
  .header__text {
    padding-left: 80px;
    width: 220px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
  }
  .header__showing {
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    height: 30px;
    margin-top: 50px;
    padding-bottom: 10px;
    background: #ffffff;
    margin-bottom: 20px;
  }
  .header__darc {
    padding-left: 15px;
    gap: 10px;
  }
  .header__mode {
    width: 20px;
    height: 20px;
  }
  .header__logo {
    width: 70px;
    height: 23px;
    font-size: 12px;
    padding: 0;
  }
  .header__input {
    height: 30px;
  }
  .swiper-slide-img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
  #sarche {
    font-size: 11px;
    height: 30px;
  }
  .header__search {
    width: 37px;
    height: 16px;
  }
  .header__text {
    padding-left: 80px;
  }
  .header__container {
    padding-left: 0;
    padding-right: 0;
  }
  .header__Order {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  #icon {
    padding-right: 20px;
    width: 110px;
    height: 25px;
  }
  .header__Order {
    display: none;
  }
  .swiper-slide-img {
    width: 100%;
    height: 350px;
    border-radius: 20px;
  }
  .header__logo {
    width: 70px;
    height: 25px;
    font-size: 14px;
  }
  .header__input {
    height: 30px;
  }
  #sarche {
    font-size: 11px;
    height: 30px;
  }
  .header__search {
    width: 37px;
    height: 16px;
  }
}
@media screen and (max-width: 450px) {
  #icon {
    padding-right: 15px;
    width: 90px;
    height: 20px;
  }
  .header__darc {
    padding-left: 10px;
    gap: 10px;
  }
  .header__mode {
    width: 20px;
    height: 20px;
  }
  .header__logo {
    width: 70px;
    height: 23px;
    font-size: 12px;
    padding: 0;
  }
  .header__input {
    height: 20px;
  }
  #sarche {
    font-size: 11px;
    height: 20px;
  }
  .swiper-slide-img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .header__search {
    width: 37px;
    height: 16px;
  }
  .header__container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 380px) {
  #icon {
    padding-right: 10px;
    width: 90px;
    height: 20px;
  }
  .header__darc {
    padding-left: 5px;
    gap: 8px;
  }
  .header__mode {
    width: 15px;
    height: 15px;
  }
  .header__logo {
    width: 55px;
    height: 20px;
    font-size: 10px;
    padding: 0;
  }
  .header__input {
    height: 20px;
    gap: 5px;
  }
  #sarche {
    font-size: 11px;
    height: 20px;
  }
  .header__search {
    width: 24px;
    height: 11px;
    padding-left: 8px;
  }
  .header__text {
    padding: 0;
    width: 141px;
  }
  .header__showing {
    gap: 8px;
  }
  .swiper-slide-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  .select__div {
    height: 30px;
    width: 120px;
    overflow: hidden;
    gap: 5px;
  }
  .header__Order {
    display: none;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    height: 20px;
    padding-left: 10px;
  }
  .header__container {
    padding-left: 0;
    padding-right: 0;
  }
  .header__Order::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 8px;
    width: 18px;
    height: 10px;
    background-image: none;
    background-repeat: no-repeat;
  }
  .input__select {
    font-size: 11px;
    outline: none;
    color: #000;
    border: none;
    color: #ffffff;
    height: 21px;
    background: inherit;
  }
}
.main__section {
  margin-top: 2px;
  width: 268px;
  background: #ffffff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
  width: 552.47px;
}

.img {
  width: 24px;
  height: 24px;
}

.main__section__sitey {
  margin-top: 25px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 218px;
  height: 72px;
  background: #f8fafd;
  border-radius: 4px;
  padding: 0 11px 0 10px;
}

.book {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 27px;
}

.main__section__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155.6%;
  color: #000000;
}

.item__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  width: 130px;
  height: 22px;
  overflow: hidden;
}

.item__name {
  width: 130px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  height: 20px;
  overflow: hidden;
}

.item,
.item {
  margin-top: 15px;
}

.main__cretElement__img {
  width: 249px;
  margin: 0 auto;
  height: 238px;
  background: #f8fafd;
  border-radius: 5px;
  padding: 18px 24px;
}

.main {
  display: flex;
  gap: 39px;
  background: #e5e5e5;
}

.cretElement__inner {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 19px;
  height: 44px;
  overflow: hidden;
}

.cretElement__taxt {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  margin-top: 3px;
}

.cretElement__namber {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  margin-bottom: 10px;
}

.main__section2 {
  margin-top: 40px;
}

.main__cretElement {
  width: 282px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 13px 0 16px 0;
}

.main__inner {
  margin-left: 25px;
}

.main__bookmark {
  width: 120px;
  height: 37px;
  border: none;
  background: #ffd80d;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 5px;
}

.main__more {
  border: none;
  width: 120px;
  height: 37px;
  background: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0d75ff;
  margin-bottom: 5px;
}

.main__btn__more {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 246px;
  margin: 0 auto;
}

.main__read {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 37px;
  margin-top: 5px;
  background: #75828a;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
}

.cretElement {
  display: flex;
  align-items: center;
  gap: 33px;
  flex-wrap: wrap;
}

.info__img {
  width: 228.96px;
  height: 299.59px;
  border-radius: 5px;
  margin-top: 45px;
}

.offcanvas-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222531;
  margin-left: 33.03px;
}

.info__img_inner {
  text-align: center;
}

.offcanvas-header {
  background: #f8fafd;
}

.info__taxt {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 170.3%;
  color: #58667e;
  margin-top: 51px;
}

.info__inner {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222531;
}

.info__div {
  margin-left: 46.7px;
}

.info__inner,
.info__inner {
  margin-top: 40px;
}

.info__span {
  padding: 11px 20px;
  background: rgba(13, 117, 255, 0.09);
  border-radius: 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0d75ff;
}

.bookmarks__div {
  width: 220px;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 5px;
}

.page-item {
  font-size: 20px;
  border-radius: 15px;
  background: #0d75ff;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .main {
    gap: 20px;
  }
  #cretElement {
    gap: 20px;
  }
  .item {
    width: 205px;
    height: 72px;
  }
  .main__section {
    margin-top: 2px;
    width: 230px;
  }
  .item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .main__cretElement {
    width: 252px;
    padding: 13px 0 16px 0;
  }
  .item__name {
    width: 130px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757881;
    height: 20px;
    overflow: hidden;
  }
  .main__cretElement__img {
    width: 229px;
    margin: 0 auto;
    height: 213px;
    border-radius: 5px;
  }
  .cretElement__inner {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-top: 16px;
    height: 44px;
  }
  .cretElement__taxt {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    margin-top: 3px;
  }
  .main__bookmark {
    width: 100px;
    height: 37px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }
  .main__more {
    width: 100px;
    height: 37px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  .main__read {
    width: 231px;
    height: 37px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .main__btn__more {
    gap: 3px;
    justify-content: center;
    width: 246px;
  }
}
@media screen and (max-width: 1130px) {
  .main {
    gap: 20px;
  }
  #cretElement {
    gap: 20px;
  }
  .item {
    width: 171px;
    height: 72px;
  }
  .main__section {
    margin-top: 2px;
    width: 204px;
  }
  .item__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    width: 90px;
  }
  .main__cretElement {
    width: 210px;
    padding: 9px 0 9px 0;
  }
  .main__section__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 173px;
  }
  #item__name {
    width: 100px;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
  }
  .img {
    width: 18px;
    height: 18px;
  }
  .bookmarks__div {
    width: 210px;
  }
  .item__name {
    width: 130px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757881;
    height: 20px;
    overflow: hidden;
  }
  .main__cretElement__img {
    width: 200px;
    margin: 0 auto;
    height: 204px;
    border-radius: 5px;
  }
  .cretElement__inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 12px;
    height: 37px;
  }
  .cretElement__taxt {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-top: 3px;
  }
  .main__bookmark {
    width: 95px;
    height: 29px;
    font-size: 14px;
    line-height: -4px;
    margin-bottom: 5px;
  }
  .main__more {
    width: 95px;
    height: 29px;
    font-size: 14px;
    line-height: -4px;
    margin-bottom: 5px;
  }
  .main__read {
    width: 192px;
    height: 30px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
  }
  .main__btn__more {
    gap: 3px;
    justify-content: center;
    width: 215px;
  }
  #main__delit__img {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
@media screen and (max-width: 750px) {
  .main {
    gap: 10px;
  }
  #cretElement {
    gap: 20px;
  }
  .item {
    width: 144px;
    height: 68px;
    padding: 0px 9px 0 5px;
  }
  .main__section {
    margin-top: 2px;
    width: 160px;
  }
  .book {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 27px;
  }
  .item__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    width: 90px;
  }
  .main__cretElement {
    width: 166px;
    padding: 9px 0 9px 0;
  }
  .main__section__text {
    font-weight: 300;
    font-size: 10px;
    width: 130px;
  }
  #item__name {
    width: 88px;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
  }
  .img {
    width: 18px;
    height: 18px;
  }
  .bookmarks__div {
    width: 210px;
  }
  .item__name {
    width: 130px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757881;
    height: 20px;
    overflow: hidden;
  }
  .main__cretElement__img {
    width: 164px;
    margin: 0 auto;
    height: 175px;
    border-radius: 5px;
  }
  .cretElement__inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 12px;
    height: 20px;
  }
  .cretElement__taxt {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-top: 3px;
    height: 27px;
    overflow: auto;
  }
  .section2__div {
    padding: 0;
  }
  .main__bookmark {
    width: 62px;
    height: 22px;
    font-size: 10px;
    line-height: -4px;
    margin-bottom: 5px;
  }
  .main__more {
    width: 62px;
    height: 22px;
    font-size: 10px;
    line-height: -4px;
    margin-bottom: 5px;
  }
  .main__read {
    width: 141px;
    height: 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }
  .main__btn__more {
    gap: 3px;
    width: 160px;
  }
  #main__delit__img {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .main__section__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pagination {
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 3px;
  }
  .page-item {
    font-size: 13px;
  }
  .page-item {
    text-align: center;
    width: 20px;
    border-radius: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    font-size: 2px;
    color: #000000;
  }
  .pagination {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    gap: 0;
  }
}
@media screen and (max-width: 400px) {
  .page-item {
    text-align: center;
    width: 15px;
    border-radius: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    font-size: 2px;
    color: #000000;
  }
  .pagination {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    gap: 0;
  }
  .section2__div {
    padding: 0;
  }
}
.body {
  background-image: url(../../img/Login.png);
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 148px;
}

.continer__img {
  width: 226px;
  height: 44px;
  margin: 0 auto;
}

.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 51px;
}

.input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: fixed;
  border: none;
  outline: none;
}

.input__password {
  width: 300px;
  height: 45px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.input__text {
  width: 300px;
  height: 45px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.input__btn {
  overflow: hidden;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 300px;
  height: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0d75ff;
  margin-top: 23px;
}

.user {
  width: 20px;
  height: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.main__input {
  text-align: center;
}

.type {
  width: 80%;
  height: 40px;
  border-color: rgb(170, 163, 163);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

.btn {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
}

.select {
  width: 80%;
  color: black;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  outline: none;
  border-color: black;
  padding-left: 20px;
  font-size: 18px;
}

#optin {
  color: black;
}

.btn {
  background: blue;
}

#selekit__btn__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cretelment__img__div {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: bisque;
  padding: 10px;
}

#cretelment__img {
  border-radius: 10px;
}

.cretelment__li {
  text-align: center;
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 5px 5px rgb(187, 180, 180);
  margin-top: 25px;
}

.clor {
  color: black;
}

.cretelment__ul {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.delit {
  background-color: red;
  border: none;
  height: 30px;
  font-size: 18px;
  border-radius: 8px;
  width: 80px;
  color: #fff;
}

.edit {
  background-color: blue;
  border: none;
  height: 30px;
  font-size: 18px;
  border-radius: 8px;
  width: 80px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.deli__div {
  margin: 15px 0;
}

.cretelment__namber {
  font-size: 18px;
  margin-top: 16px;
  opacity: 0.8;
}

.cretelment__taxt {
  font-size: 20px;
  margin-top: 16px;
  opacity: 0.9;
}

.cretelment__inner {
  margin-top: 16px;
}

.deli__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.edit__input {
  width: 450px;
  border: none;
  outline: none;
  background-color: rgb(94, 87, 87);
  border-radius: 9px;
  height: 40px;
  font-size: 17px;
  color: #fff;
  padding-left: 10px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.edit__submit {
  background-color: blue;
  border: none;
  outline: none;
  width: 450px;
  border-radius: 9px;
  height: 40px;
  font-size: 17px;
  color: #fff;
  padding-left: 10px;
}

.admin__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__addimi {
  height: 40px;
  width: 85px;
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 8px;
  padding: 0;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */